@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
}
:root{
    --body-color: linear-gradient(90deg, rgba(213,141,226,1) 0%, rgba(236,159,222,1) 50%, rgba(233,213,233,1) 100%);;
}
body{
    background: var(--body-color);
}
hr {
    border: 1px solid black;
}
h1, p{
    color: rgb(141, 33, 160);
}
pre{
    padding-left: 0px;
}
.birthday{
padding-left: 10px;
padding-top: 10px;
}
img{
    width: 15px;
    height: auto; 
}
.gender{
    padding-left: 10px;
    padding-top: 10px;
}
main{
background: white;
margin: auto;
height: fit-content;
width: fit-content;
padding-top: 5px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
border: 2px solid plum;
border-radius: 10px;
}
.name{
    width: 200px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: purple;
    border: 1px solid black;
}
input[type=email], [type=password]{
width: 422px;
}
input[type=submit]{
    border-radius: 5px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background:rgba(112,217,207,1) 42%, rgba(114,217,208,1) 43%, rgba(233,207,236,1) 100%;
    color: purple;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}
input[type=submit]:hover{
    background: purple;
    color: white;
}
input[type=radio]{
    margin-bottom: 20px;
}
.birthday select{
width: 138px;
height: 40px;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 5px;
}
.radio1{
    width: 50%;
    Border: 1px solid black;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
}
.radio2{
    width: 50%;
    Border: 1px solid black;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
}
.mainradio{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}